* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Raleway", sans-serif;
    }
}

body {
    font-family: "Roboto", sans-serif;
}

.header {
    width: 300px;
    background-color: #040b14;
    padding: 0 15px;
}

img {
    display: block;
}

header .profile-img img {
    width: 120px;
    margin: 15px 0;
    border: 8px solid #292F37;
}

header .name h1 {
    font-size: 24px;
    font-weight: 700;
}

header .media-links a {
    font-size: 16px;
    width: 40px;
    height: 40px;
    display: inline-block;
    background-color: #1E242C;
    align-content: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 2px;
    transition: background-color 0.3s, color 0.3s;
}

header .media-links a i {
    transition: background-color 0.3s;
}

header .media-links a:hover {
    color: white;
}

header .media-links a:hover .bi-twitter-x {
    color: #1DA1F2;
}

header .media-links a:hover .bi-facebook {
    color: #1877F2;
}

header .media-links a:hover .bi-instagram {
    color: #E4405F;
}

header .media-links a:hover .bi-skype {
    color: #00AFF0;
}

header .media-links a:hover .bi-linkedin {
    color: #0077B5;
}

nav ul li a {
    display: flex;
    padding: 15px 10px;
    font-family: "Poppins", sans-serif;
    align-items: center;
    color: inherit;
    transition: color 0.3s;
}

nav ul li a .icon {
    font-size: 20px;
    transition: color 0.3s;
}

nav ul {
    color: rgba(255, 255, 255, 0.599) !important;
}

nav ul li a:hover,
nav ul li a.active {
    color: white;
}

nav ul li a:hover .icon,
nav ul li a.active .icon {
    color: #149ddd;
}

nav ul li a:hover .bi-person {
    color: green;
}

nav ul li a:hover .bi-file-earmark-text {
    color: red;
}

nav ul li a:hover .bi-images {
    color: purple;
}

nav ul li a:hover .bi-hdd-stack {
    color: orange;
}

nav ul li a:hover .bi-menu-button {
    color: teal;
}

nav ul li a:hover .bi-envelope {
    color: yellow;
}

main {
    width: calc(100% - 300px);
    margin-left: auto;
}

main .hero .hero-img {
    background-image: url('../Images/hero-bg.jpg');
    background-color: #040b144c;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
}

.hero .hero-content h2 {
    font-size: 64px;
    font-weight: 700;
}

.hero .hero-content p {
    font-size: 26px;
    font-weight: 400;
    margin-top: 5px;

}

.hero .hero-content p span {
    letter-spacing: 2px;
}

/* About Section's CSS Start */
.about .content h2,
.contact .content h2,
.services .content h2 {
    font-size: 32px;
    font-weight: 700;
    /* padding-bottom: 10px; */
}

.about .content h2::after,
.skills .content h2::after,
.resume .content h2::after,
.contact .content h2::after,
.services .content h2::after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background-color: #149ddd;
    margin-top: 20px;
}

.about .about-content h2 {
    font-size: 24px;
    font-weight: 700;
}

.about .about-content .row ul li i {
    color: #149ddd !important;
}

/* About Section's CSS End */
/* Info section's CSS Start */
.info-section .info-box i {
    font-size: 45px;
    color: #149ddd;
}

.info-section .info-box .count {
    font-size: 48px;
    font-weight: 700;
}

.info-section .info-box .count-content {
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    margin-left: 60px;
}

/* Info section's CSS End */

/* Skills section's CSS Start */
.skills {
    background-color: #f4fafd;
}

.skills .content h2,
.resume .content h2 {
    font-size: 32px;
    font-weight: 700;
}

.skills .progress-bar {
    background-color: #149ddd;
}

.skills .progress-box {
    height: 62px;
}

.skills .progress-box .progress-count span {
    font-size: 12px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}

/* Skills section's CSS End */

/* Resume section's CSS Start */
.resume .title h3 {
    font-size: 26px;
    font-weight: 700;
}

.resume .resume-box h4 {
    font-size: 18px;
    font-weight: 600;
    color: #464e57;
}

.resume .resume-box {
    border-left: 2px solid #149ddd;
    /* padding: 0 0 20px 20px; */
    /* margin-top: -2px; */
}

.resume .resume-box::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #149ddd;
    background-color: white;
    top: 0;
    left: -9px;
}

.resume .resume-box h5 {
    font-size: 16px;
    font-weight: 600;
}

/* Resume section's CSS End */

/* services section start */
/* services section start  */

.services .services-count .count i {
    width: 60px;
    height: 60px;
    background: #149DDD;
    border-radius: 50%;
    font-size: 24px;
    color: var(--theme-white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    padding: 15px;
    transition: 0.5s;
}

.services .services-count .count:hover i {
    background-color: #fff;
    border: 1px solid #149DDD;
    color: #040b14;
}

.services .services-count .count .services-count-content h4 a {
    text-decoration: none;
    color: #040b14;
    transition: all .3s ease-in-out;
}

.services .services-count .count:hover .services-count-content h4 a {
    color: #149DDD;
}

/* services section end */

/* testimonial start  */
.test-content {
    text-align: justify;
    padding: 10px 20px;
}

/* testimonial end  */

/* Contact section's CSS start */

.contact .info-box-item {
    margin-bottom: 40px;
}

.contact .info-box-item i {
    font-size: 20px;
    color: #149ddd;
    background-color: rgba(20, 157, 221, 0.08);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    transition: all 0.3s ease;
}

.contact .info-content h3 {
    font-size: 18px;
    font-weight: 700;
}

.contact .info-content p {
    font-size: 14px;
}

.contact .info-box-item:hover i {
    background-color: #149DDD;
    color: white;
}

/* Contact section's CSS end */
/* footer section's CSS start */
footer {
    width: calc(100% - 300px);
    margin-left: auto;

}

footer .copy-right p,
footer .designed-by p {
    font-size: 14px
}

/* footer section's CSS end */
.back-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    background-color: #149ddd;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: all 0.4s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-to-top:hover {
    background-color: #1280b4;
    transform: translateY(-3px);
}